html {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h1 {
    font-weight: 300;
    color: #3c3c3b;
    font-size: 36px;  
}

div.showcase-title {
    text-align: center !important;
    margin: 2em;
}